body{
  background: #1fc8db;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin: 0;
}
.page-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.page-title{
  color: white;
  margin-top: 0;
}
h1{ font-size: 2em; }
h2{ font-size: 1.7em; }
h3{ font-size: 1.5em; }
.slide-down-container, .welcome-container{
  min-height: 150px;
  width: 400px;
  background: white;
  border-radius: 5px;
}
.welcome-container{
  width: 410px;
}
.padding{
  padding: 20px;
}
.main-tab-content, .dir-tab-content{
  display: none;
}
.slide-down-container .active{
  display: block;
}
.button, input[type=submit], .button-third, .button-half, .button-triple, .button-double{
  padding: 15px 25px;
  background-color: #aeaeae;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s 0s ease-in-out;
  margin: 0px 0px 10px 0px;
}

/* --- FORM --- */
form{
  margin: 0;
}
input[type=submit]{
  margin: 0;
}
input[type=text]{
  height: 48px;
  width: 100%;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  padding: 0px 10px;
  font-size: 16px;
}
.input-submit{ width: 100%; }
/* --- FORM END --- */


/* --- BUTTONS --- */
.button:hover, input[type=submit], .button-half:hover, .button-third:hover{
  background-color: #5757FF;
}
.highlight{
  background-color: #5757FF;
}
.button-container{
  display: flex;
  flex-direction: row;
}
.button-third{ width: calc(100%  /3); }
.button-half{ width: 50%; }
.button-full{ width: 100%; }

.button-left{ border-radius: 5px 0px 0px 5px; }
.button-mid{ border-radius: 0px 0px 0px 0px; }
.button-right{ border-radius: 0px 5px 5px 0px; }
#alert-button{ width: 100%; }

/* --- TOGGLES --- */
.button-third.toggle{ width: calc(100%  /4); padding: 15px 0px; }
.button-half.toggle{ width: calc(100% /3);  padding: 15px 0px; }

.highlight.button-third.toggle{ width: calc(100%  /2); }
.highlight.button-half.toggle{ width: calc(100% * 2/3); }
/* --- TOGGLES END --- */

/* --- TRIPLE --- */
.button-triple:nth-child(-n+2){ margin-right: 10px; }
.button-triple{
  width: calc((100% - 20px) /3);
  padding: 15px 0px;
  background-color: #5757FF;
}
/* --- TRIPLE END --- */
/* --- DOUBLE --- */
.button-double:first-child{ margin-right: 10px; }
.button-double{
  width: calc((100% - 10px) /2);
  background-color: #5757FF;
}
/* --- DOUBLE END --- */

/* --- BUTTONS END --- */


/* --- TABS --- */
.tab-container{
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
}
.tab-container button{
  background-color: #eaeaea;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%  /3);
  font-size: 16px;
  margin: 0;
}
.tab-container .active, .tab-container button:hover{
  background-color: white;
}
.tab-left{ border-radius: 5px 0px 0px 0px; }
.tab-mid{ border-radius: 0px 0px 0px 0px; }
.tab-right{ border-radius: 0px 5px 0px 0px; }
/* --- TABS END --- */


/* ----- WELCOME POPUP START ----- */
.welcome-popup-container {
  background: cyan;
  margin:auto;
  border-radius: 5px;
}

.hidden{ display: none; }

.school-container{
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.img-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.img-container img{
  height: 200px;
  width: 200px;
  cursor: pointer;
}
/*
.img-container img.highlight{
  border-bottom: 5px solid #5757FF;
}
*/
.img-container img:first-child{
  margin-right: 10px;
}
#approve-disclaimer{
  margin-bottom: 0;
}
#continue-button-container .button-double{
  height: 70px;
  margin-bottom: 0;
}
/* ----- WELCOME POPUP END ----- */
