body{
  background: #1fc8db;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin: 0;
}

/* FLEX BOX SYSTEM */
.flex{ display: flex; }
.flexRowNo{ display: flex; flex-flow: row nowrap; }
.flexRowWrap{ display: flex; flex-flow: row wrap; }
.flexColNo{ display: flex; flex-flow: column nowrap; }
.flexColWrap{ display: flex; flex-flow: column wrap; }
.flexCenter{ justify-content: center; align-items: center; }
/* FLEX BOX SYSTEM END */

.page-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row nowrap;
}
/* MAP CSS */
#map{
  height: 100%;
  width: 75%;
}
#slide-container{
  height: calc(100% - 40px);
  width: 25%;
  background-color: white;
  overflow: auto;
}
.page-title{
  color: white;
  margin-top: 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.3em; }
h3{ font-size: 1.17em; }
.controls-container, .welcome-container{
  min-height: 50px;
  width: 400px;
  background: white;
  border-radius: 5px;
}
.controls-container{
  position: fixed;
  left: 20px;
  top: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.17), 0 10px 10px rgba(0,0,0,0.10);
}
.campus-emphasis{
  width: 100%;
  min-height: 100%;
  background: inherit;
}
@media (min-width: 980px) {
  .slide-up-container{

  }
}
.welcome-container{
  width: 410px;
}
.padding{
  padding: 20px;
}
.main-tab-content, .dir-tab-content{
  display: none;
}
.controls-container .active{
  display: block;
}
.button, input[type=submit], .button-third, .button-half, .button-triple, .button-double{
  padding: 15px 25px;
  background-color: #aeaeae;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s 0s ease-in-out;
  margin: 0px 0px 10px 0px;
}

/* --- FORM --- */
form{
  margin: 0;
}
input[type=submit]{
  margin: 0;
}
input[type=text]{
  height: 50px;
  width: 100%;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  padding: 0px 10px;
  font-size: 16px;
}
.input-submit{ width: 100%; }
/* --- FORM END --- */


/* --- BUTTONS --- */
.button:hover, input[type=submit], .button-half:hover, .button-third:hover, .tag:hover{
  background-color: #5757FF;
}
.highlight{
  background-color: #5757FF;
}
.button-container{
  display: flex;
  flex-direction: row;
}
.last-btn-container .button-double:first-child, .button-triple:first-child{ margin: 0 10px 0 0; }
.last-btn-container .button-double, .button-triple{ margin: 0 10px 0 0; }
.last-btn-container .button-double:last-child, .button-triple:last-child{ margin: 0; }

.button-third{ width: calc(100%  /3); }
.button-half{ width: 50%; }
.button-full{ width: 100%; }

.button-left{ border-radius: 5px 0px 0px 5px; }
.button-mid{ border-radius: 0px 0px 0px 0px; }
.button-right{ border-radius: 0px 5px 5px 0px; }
#alert-button{ width: 100%; }

/* --- TOGGLES --- */
.button-third.toggle{ width: calc(100%  /4); padding: 15px 0px; }
.button-half.toggle{ width: calc(100% /3);  padding: 15px 0px; }

.highlight.button-third.toggle{ width: calc(100%  /2); }
.highlight.button-half.toggle{ width: calc(100% * 2/3); }
/* --- TOGGLES END --- */

/* --- TRIPLE --- */
.button-triple:nth-child(-n+2){ margin-right: 10px; }
.button-triple{
  width: calc((100% - 20px) /3);
  padding: 15px 0px;
  background-color: #5757FF;
}
/* --- TRIPLE END --- */
/* --- DOUBLE --- */
.button-double:first-child{ margin-right: 10px; }
.button-double{
  width: calc((100% - 10px) /2);
  background-color: #5757FF;
}
/* --- DOUBLE END --- */

/* --- BUTTONS END --- */


/* --- TABS --- */
.tab-container{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.tab-container button{
  background-color: #eaeaea;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%  /3);
  font-size: 16px;
  margin: 0;
}
.tab-container .active, .tab-container button:hover{
  background-color: white;
}
.tablinks:active{ color: black; }
.tab-left{ border-radius: 5px 0px 0px 0px; }
.tab-mid{ border-radius: 0px 0px 0px 0px; }
.tab-right{ border-radius: 0px 5px 0px 0px; }

.tab-left-collapsed{ border-radius: 5px 0px 0px 5px; }
.tab-right-collapsed{ border-radius: 0px 5px 5px 0px; }
/* --- TABS END --- */


/* ----- WELCOME POPUP START ----- */
.welcome-popup-container {
  background: cyan;
  margin:auto;
  border-radius: 5px;
}

.hidden{ display: none; }

.school-container{
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.img-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.img-container img{
  height: 200px;
  width: 200px;
  cursor: pointer;
}
/*
.img-container img.highlight{
  border-bottom: 5px solid #5757FF;
}
*/
.img-container img:first-child{
  margin-right: 10px;
}
#approve-disclaimer{
  margin-bottom: 0;
}
.disclaimer{
  margin-top: 0;
}
#continue-button-container .button-double{
  height: 70px;
  margin-bottom: 0;
}
/* ----- WELCOME POPUP END ----- */

/* SLIDE UP */
.campus-emphasis-title{
  margin: 0px 0px 0px 0px;
  font-weight: 600;
}
.campus-emphasis-subtitle{
  margin: 0px 0px 10px 0px;
  font-weight: normal;
}
.campus-pic{
  width: 100%;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
}
.poi, .route{
  width: 100%;
  height: 70px;
  border-radius: 5px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 10px 0px;
  cursor: pointer;
}
.poi:last-child{
  margin: 0;
}

/* POI VOTE */
.poi-vote{
  height: 100%;
  width: 15%;
  border-right: 1px solid rgb(230,230,230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.poi-vote-points{
  margin: 3px 0px 3px 0px;
  font-size: 1.2em;
}
.poi-vote-up, .poi-vote-down{
  margin: 0;
  width: 40%;
}
.poi-vote-up{
  transform: rotate(180deg);
}
.poi-content{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

/* POI INFO */
.poi-info-container{
  height: calc(50% - 10px);
  width: calc(100% - 9px);
  padding: 5px;
}
.poi-title-opening-container{
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}
.poi-info-container p{
  margin: 0;
}
.poi-title{
  margin: 0;
  font-weight: normal;
  margin: 0 5px 0 0;
}
.poi-opening{
  color: #555;
}

/* TAGS */
.poi-tag-container{
  height: calc(50% - 10px);
  width: calc(100% - 9px);
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.tag{
  padding: 5px 10px;
  font-size: 12px;
  margin: 0 5px 0 0;
}

/* POI DIRECTIONS */
.poi-direction-container{
  width: 30%;
  height: 100%;
}
.poi-direction-container button{
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 0px 5px 5px 0px;
  background-color: #5757FF;
}
#poi-suggest{
  width: 100%;
  height: 100%;
  background-color: #5757FF;
}
/*
.poi-vote svg:hover #up-vote{
  fill: #ffffff;
}*/
/* SLIDE UP END */

/* DIRECTION ROUTES START */
.direction-title{ margin: 0 0 10px 0; font-weight: 600;}

/* ROUTE */
.route-directions{
  height: calc(100% - 10px);
  width: calc(60% - 10px);
  padding: 5px;
  display: flex;
  flex-flow: column;
}
.route-time{ width: 100%; height: 50%; }
.route-time, .route-meta p{ margin: 0; font-weight: 400;}
.route-meta{
  height: calc(100% - 10px);
  width: calc(40% - 10px);
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

/* ROUTE ICONS */
.route-icons{
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
.route-icons svg{ width: 20px; height: 20px; margin: 0 3px 0 0; }
.route-icons p{ margin: 0 3px 0 0; font-weight: 400; }
/* DIRECTION ROUTE END */


/* MAP CSS */
#map{
  height: 100%;
  width: 75%;
}

#poi-marker-popup {
  border-radius: 10px;
  border: 1px solid black;
  background-color: beige;
  position: absolute;
  height: 50px;
  transition: opacity 0.6s;
}

#poi-popup-text{
  padding-left: 5px;
  padding-right: 5px;
}
