body{
  background: white;
  /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin: 0;
  /* -webkit-overscroll-behavior: none; */
  /* overscroll-behavior: contain; */
  /* overflow: hidden; */

}
body *{
 outline: none;
}

.input-error{
    border: 2px solid red !important;
}


.hidden{ display: none !important; }

.disable-selection{
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
     -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/* FLEX BOX SYSTEM */
.flex{ display: flex; }
.flexRowNo{ display: flex; flex-flow: row nowrap; }
.flexRowWrap{ display: flex; flex-flow: row wrap; }
.flexColNo{ display: flex; flex-flow: column nowrap; }
.flexColWrap{ display: flex; flex-flow: column wrap; }
.flexCenter{ justify-content: center; align-items: center; }
/* FLEX BOX SYSTEM END */

.page-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row nowrap;
}
#map{
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: lightgrey;
}

#slide-container{
  min-height: calc(100%);
  max-height: calc(100%);
  /* padding: 20px; */
  min-width: 375px;
  background-color: white;
  overflow: auto;
  z-index: 2;
  box-shadow: 0 14px 28px rgba(0,0,0,0.14), 0 10px 10px rgba(0,0,0,0.07);
  border-left: 1px solid lightgrey;
  transition: 0.5s 0s ease-in-out;
  /* overflow: hidden; */
}
.page-title{
  color: white;
  margin-top: 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.3em; }
h3{ font-size: 1.17em; }
.controls-container, .welcome-container{
  min-height: 50px;
  width: 400px;
  background: white;
  border-radius: 5px;
  z-index: 2;
}
.controls-container{
  position: fixed;
  left: 20px;
  top: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.17), 0 10px 10px rgba(0,0,0,0.10);
}
.campus-emphasis{
  width: 100%;
  /* min-height: 100%; */
  background: inherit;
}

.padding{
  padding: 15px;
}
.main-tab-content, .dir-tab-content, #from-here-container{
  display: none;
}
.controls-container .active{
  display: block;
}
.button, input[type=submit], .button-third, .button-half,
.button-double, .button-triple, .button-quad, .button-quin{
  padding: 15px 25px;
  background-color: #767676;
  /* background-color: #aeaeae; */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s 0s ease-in-out;
  margin: 0px 0px 10px 0px;

  /* DISABLE MOBILE TEXT SELECT */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  /* DISABLE MOBILE IOS GRAY HIGHLIGHT */
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* --- FORM --- */
form{
  margin: 0;
}
input[type=submit]{
  margin: 0;
}
input[type=text]{
  height: 50px;
  width: 100%;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  padding: 0px 10px;
  font-size: 16px;
}
.input-submit{ width: 100%; }
/* --- FORM END --- */


/* --- BUTTONS --- */
.button:hover, input[type=submit], .button-half:hover, .button-third:hover{
  /* background-color: #0088f6; */
  background-color: #3875CF;
}
.button-container{
  display: flex;
  flex-direction: row;
}
.button-container svg{
  fill: #f3f3f3;
  height: 29px;
}
.last-btn-container .button-full:first-child, .last-btn-container .button-double:first-child, .button-triple:first-child{ margin: 0 10px 0 0; }
.last-btn-container .button-double, .button-triple{ margin: 0 10px 0 0; }
.last-btn-container .button-double:last-child, .button-triple:last-child{ margin: 0; }


.button-third{ width: calc(100%  /3); }
.button-half{ width: 50%; }
.button-full{ width: 100%; margin: 0 !important; background-color: #3875CF; }

.button-left{ border-radius: 5px 0px 0px 5px; }
.button-mid{ border-radius: 0px 0px 0px 0px; }
.button-right{ border-radius: 0px 5px 5px 0px; }
#alert-button{ width: 100%; }

/* --- TOGGLES --- */
.button-third.toggle{ width: calc(100%  /4); padding: 15px 0px; }
.button-half.toggle{ width: calc(100% /3);  padding: 15px 0px; }

.highlight.button-third.toggle{ width: calc(100%  /2); }
.highlight.button-half.toggle{ width: calc(100% * 2/3); }
/* --- TOGGLES END --- */

/* --- QUIN --- */
.button-quin:nth-child(-n+4){ margin-right: 10px; }
.button-quin{
  width: calc((100% - 20px) /4);
  padding: 8px 0px;
}

/* --- QUIN END --- */
/* --- QUAD --- */
.button-quad:nth-child(-n+3){ margin-right: 10px; }
.button-quad{
  width: calc((100% - 20px) /4);
  padding: 10px 0px;
  background-color: #aeaeae;
}
.button-quad:hover{
  /* background-color: #0088f6; */
  background-color: #3875CF;
}
/* --- QUAD END --- */
/* --- TRIPLE --- */
.button-triple:nth-child(-n+2){ margin-right: 10px; }
.button-triple{
  width: calc((100% - 20px) /3);
  padding: 15px 0px;
  /* background-color: #0088f6; */
  background-color: #3875CF;
}
/* --- TRIPLE END --- */
/* --- DOUBLE --- */
.button-double:first-child{ margin-right: 10px; }
.button-double{
  width: calc((100% - 10px) /2);
  /* background-color: #0088f6; */
  background-color: #3875CF;
}
.highlight{ background-color: #3875CF; }
/* .highlight{ background-color: #0088f6; } */
.btn-disabled{ background-color: #eee; }
.btn-no-highlight{ background-color: #aeaeae; }
.mySqlButton{ background-color: #FF61AB; }
/* --- DOUBLE END --- */
#departure{
  width: calc(100% - 55px);
  float: left;
  margin-right: 5px;
}
#departure-container{
  justify-content: space-between;
}
.myLoc-btn{
  float: left;
  height: 50px;
  width: 50px;
  /* background: #0088f6; */
  background: #3875CF;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --- BUTTONS END --- */


/* --- TABS --- */
.tab-container, .tab-container-half{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.tab-container button, .tab-container-half button{
  background-color: #eaeaea;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%  /3);
  font-size: 16px;
  margin: 0;
}
.tab-container-half button{
  width: calc(100%  /2);
}
.campus-content-toggle-container{
  margin: 0 0 10px 0;
}
.tab-container .active, .tab-container-half .active{ background-color: white; }
.tab-container button:hover, .tab-container-half button:hover{ background-color: #f8f8f8; }
.tablinks:active{ color: black; }
.tab-left{ border-radius: 5px 0px 0px 0px; }
.tab-mid{ border-radius: 0px 0px 0px 0px; }
.tab-right{ border-radius: 0px 5px 0px 0px; }

.tab-left-collapsed{ border-radius: 5px 0px 0px 5px; }
.tab-right-collapsed{ border-radius: 0px 5px 5px 0px; }

.tablinks-campus{
    /* DISABLE MOBILE TEXT SELECT */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
     -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    /* DISABLE MOBILE IOS GRAY HIGHLIGHT */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* --- TABS END --- */


/* ----- WELCOME POPUP START ----- */
.welcome-container{
  width: 410px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.17), 0 10px 10px rgba(0,0,0,0.10);
}
#welcome-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}
.welcome-popup-container {
  background: cyan;
  margin:auto;
  border-radius: 5px;
}
.welcome-title{
  margin: 0 0 1em 0;
}

.school-container{
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.img-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
#welcome-container .img-container img{
  height: 200px;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
}
.img-highlight{
  background-color: #f3f3f3;
}
/*
.img-container img.highlight{
  border-bottom: 5px solid #0088f6;
}
*/
.img-container img:first-child{
  margin-right: 10px;
}
#approve-disclaimer{ margin-bottom: 0; }
.disclaimer{ margin-top: 0; }
#continue-button-container .button-double{
  height: 70px;
  margin-bottom: 0;
}
/* ----- WELCOME POPUP END ----- */

/* SLIDE UP */
.campus-emphasis-title{
  margin: 0px 0px 0px 0px;
  font-weight: 450;
  color: black;
}
.campus-emphasis-subtitle{
  margin: 0px 0px 2px 0px;
  font-weight: normal;
  color: black;
}
.campus-info{
  /* width: calc(100% - 20px); */
  height: 180px;
  /* border-radius: 5px 5px 0 0; */
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.campus-info-top{
  justify-content: space-between;
  background: rgba(0,0,0,0);
}
.campus-info-bottom{
  height: 126px;
  overflow: hidden;
}
.campus-titles-container, .campus-weather-container{ height: 54px; }
.campus-pic{
  width: 100%;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
}
.poi{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
}
.poi, .route{
  /* border-radius: 5px;
  background-color: #f3f3f3; */
  border-radius: 0;
  /* background-color: white; */
  border-bottom: 1px solid lightgrey;

  margin: 0px 0px 10px 0px;
  cursor: pointer;
}
.poi:first-child{
  border-top: 1px solid lightgrey;
}
.poi{
  margin: 0;
}
.poi:last-child{
  margin: 10px 0 0 0;
  border-bottom: none;
}

/* POI VOTE */
.poi-vote{
  height: 100%;
  width: 13%;
  /* border-right: 1px solid rgb(230,230,230); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.poi-vote-points{
  margin: 3px 0px 3px 0px;
  font-size: 1.2em;
}
.poi-vote-up, .poi-vote-down{
  margin: 0;
  width: 40%;
}
.poi-vote-up{
  transform: rotate(180deg);
}
.poi-locked path{
  fill: green;
}
.poi-locked-dis path{
  fill: lightgrey;
}

.poi-content{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* POI INFO */
.poi-info-container{
  height: calc(50% - 10px);
  width: calc(100% - 9px);
  padding: 5px 0;
}
.poi-title-opening-container{
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}
.poi-info-container p{
  margin: 0;
}
.poi-title{
  margin: 0;
  font-weight: normal;
  margin: 0 5px 0 0;
}
.poi-opening{
  color: #555;
}

/* TAGS */
.poi-tag-container{
  height: calc(50% - 10px);
  width: calc(100% - 9px);
  padding: 5px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.tag{
  padding: 5px 10px;
  font-size: 12px;
  margin: 0 5px 0 0;
}
.tag:hover{
  background-color: #767676;
}
/* POI DIRECTIONS */
.poi-direction-container{
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.poi-direction-container button{
  width: 90%;
  padding: 15px 0px;
  /* background-color: #0088f6; */
  background-color: #3875CF;
  margin: 0;
}
#poi-suggest{
  width: 100%;
  height: 100%;
  /* background-color: #0088f6; */
  background-color: #3875CF;
  margin: 0 10px;
  border-bottom: none;
}

/* DIRECTION ROUTES START */
.direction-title{ margin: 0 0 10px 10px; font-size: 20px; font-weight: 400; }

/* ROUTE */
.route{
  width: 100%;
  height: 70px;
  overflow: hidden;
  transition: 0.2s 0s ease-in-out;
}
.route-dir-meta-container{
  display: flex;
  flex-flow: row nowrap;
}
.route-directions{
  height: calc(100% - 10px);
  width: calc(80% - 10px);
  padding: 10px 0 0 10px;
  display: flex;
  flex-flow: column;
}
.route-time{ width: 100%; height: 50%; margin: 0 0 6px 0 !important;}
.route-time, .route-meta p{ margin: 0; font-weight: 400;}
.route-time-before-class{ text-align: right; }
.route-meta{
  width: calc(20% - 10px);
  padding: 10px 10px 0 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-between;
}
.route-part-time{ color: #777 }
.transit-line{
  color: #777;
  border: 1px solid #777;
  margin-left: 3px;
  margin-right: 3px;
  padding: 1px 4px;
}
/* ROUTE ICONS */
.route-icons{
  /* width: 100%; */
  height: 22px;
  align-items: flex-end;
  overflow: hidden;
  transition: 0.2s 0s ease-in-out;
}
.route-icons svg, .route-icons img{ fill: #777; width: 20px; height: 20px; margin: 0 3px 0 0; }
.route-icons p{ margin: 0 3px 0 0; font-weight: 400; }
.route-details{
  width: calc(100% - 20px);
  height: 187px;
  padding: 10px;
  /* border-left: solid #06abf5 6px; */
}
.route-step{
  width: 100%;
  height: 30px;
  /* background-color: rgba(255,0,0,0.4); */
}
.route-step-transit{
  width: 100%;
  height: 127px;
  /* background-color: aqua; */
}
.route-step-time, .route-step-time-transit{
  width: 55px;
  height: 100%;
  /* background-color: rgba(255,255,0,0.5); */
  align-items: flex-start;
  line-height: 0.8;
}

.route-step-time-start{ justify-content: flex-start; }
.route-step-time-end{ justify-content: flex-end; }
.route-step-time-transit{ justify-content: space-between; }
.route-step-time-transit p, .route-step-time p{ margin: 0; }

.route-step-line, .route-step-line-transit{
  height: 100%;
  width: 7px;
  border-radius: 5px;
}
.route-step-line-start{ justify-content: flex-start; }
.route-step-line-start svg{ margin: 0 0 8px 0; }
.route-step-line-end{ justify-content: flex-end; }
.route-step-line-end svg{ margin: 8px 0 0 0; }
.route-step-line svg{
  width: 7px;
  height: 7px;
  /* fill: #0088f6; */
  fill: #3875CF;
}
/* .route-step-line-transit{ background-color: #0088f6; } */
.route-step-line-transit{ background-color: #3875CF; }
.route-step-icons{
  margin-left: 7px;
  margin-right: 7px;
  height: 100%;
  width: 25px;
  /* background-color: rgba(0,255,255,0.5); */
  align-items: center;
  justify-content: center;
}
.route-step-icons svg, .route-step-icons img{ width: 25px; height: 25px; }
.route-step-content, .route-step-content-transit{
  height: 100%;
  width: 293px;
  /* background-color: rgba(255,255,255,0.5); */
}
.route-step-content{
  display: flex;
  align-items: center;
}
.route-step-content-transit{ justify-content: space-between; }
.route-step-content-transit p{ margin: 0; line-height: 0.8; }
.route-step-content-transit-line{ width: 100%; }
.route-step-content-transit-line-info{
  width: 100%;
  display: flex;
  align-items: center;
}
.route-step-content-transit-line-info .transit-line{
  color: #000;
  border: 1px solid #000;
}
.route-step-content-transit-line-info p:nth-child(-n+2){ margin-right: 5px; }
.route-step-content-transit-line-info p:nth-child(3){ color: #777; }
.route-step-content-transit-line-info svg{
  height: 16px;
  fill: #777;
  margin-right: 3px;
}
.route-step-content-transit-line-duration{ width: 100%; margin: 3px 0 0 0;}
.route-step-content-transit-line-duration p{ color: #777; }
.route-step-content-duration p{ margin: 0; color: #777; }
/* ROUTE WALKING BICYCLING */
.route-walk-bic{
  display: flex;
  justify-content: center;
  align-items: center;
}
.route-walk-bic h3{ margin: 0; }
.route-walk-bic p{ margin: 0; white-space: nowrap; margin-left: 5px;}
.route-walk-bic .route-dir-meta-container{
  align-items: center;
}
/* ROUTE WALKING BICYCLING END */

/* ROUTE DRIVING */
.route-driving{

}
/* ROUTE DRIVING END */

/* ROUTE END */


/* MAP */
#poi-marker-popup {
  opacity: 0;
  padding: 2px 8px 2px 8px;
  border-radius: 6px;
  border: 1px solid #777;
  background-color: white;
  position: absolute;
  /*height: 50px;*/
  transition: opacity 0.6s;
}
#poi-popup-text{
  padding-left: 5px;
  padding-right: 5px;
}
#position-marker-pulse {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
    border: 3px solid #999;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
/* MAP END */




/* WEATHER */
.weather-container{
  width: calc(100% - 40px);
  height: calc(80px - 40px);
  background-color: lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  background-size: cover;
}
.weather-icon svg, .weather-icon img{
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
.weather-temperature{
  font-size: 26px;
  margin: 0;
}
.weather-title{
  font-size: 26px;
  font-weight: normal;
}
.weather-temperature h3{
  margin: 0;
  font-weight: 300;
  color: #242424;
}
/* WEATHER END */

/* LOGGED IN */
#notification-container{
  position: fixed;
  margin: auto;
  top: -65px;
  left: calc(50% - 125px);
  padding: 5px 25px;
  background: #44CF6C;
  z-index: 10;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#notification-container p{
  color: white;
  font-size: 16px;
  font-weight: 500;
}
/* LOGGED IN END */

/* LECTURE */
/* IN CAMPUS */
.in-campus-lecture-container{
  width: 100%;
  height: 116px;
  background: rgba(255,255,255,0);
  padding: 10px 0 0 0;
}
.in-campus-lecture-name{
  margin: 0 0 5px 0;
  color: #242424;
  font-weight: 450;
  font-size: 1.5em;
}

.in-campus-lecture-time, .in-campus-lecture-date, .in-campus-lecture-room, .overview-lecture-time, .overview-lecture-date{ margin: 0; }
.in-campus-lecture-room{
  color: #242424;
  font-weight: 400;
}
/* IN CAMPUS END */
/* OVERVIEW */
.overview-lecture-container{
  width: calc(100% - 10px);
  background: #aaa;
  margin: 0 0 10px 0;
  background-image: url(../img/fjerdingen.jpg);
  background-blend-mode: screen;
  background-size: cover;
  background-position: bottom;
  padding: 10px;
  transition: 0.2s 0s ease-in-out;
  overflow: hidden;
}
.in-campus-lecture-container hr{
  box-shadow: 0;
  border: none;
  background-color: white;
  height: 2px;
}

.overview-lecture-name{
  margin: 0 0 0 0;
  color: #242424;
  font-weight: 450;
  font-size: 1.5em;
}
.overview-lecture-room{
  color: #242424;
  font-weight: 400;
  margin: 0;
}
.overview-lecture-day{
  margin: 10px;
  font-weight: 400;
}
/* OVERVIEW END */
/* LECTURE END */

/* AUTOCOMPLETE */
/*.pac-container:after{ Not allowed to remove "powered by google" :(((
  content: none;
}*/
/* AUTOCOMPLETE END */


#slide-containerheader-top{
  display: none;
}

/* MOBILE */
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-width: 375px)
  and (max-width: 812px)/*
  and (-webkit-min-device-pixel-ratio: 3)*/ {
    /* CONTAINERS */
    .page-container{
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
      position: fixed;
    }
    #map{
      height: calc(100vh - 50px - 5%);
      width: 100vw;
      background-image: url(../img/fjerdingen.jpg);
      top: 0;
      left: 0;
    }
    #slide-container{
      min-height: 100%; /*var 5%&*/
      max-height: calc(85% - 20px);
      width: calc(100%) !important;
      z-index: 2;
      padding: 0 0 50px 0;
      position: fixed;
      top: 89%;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
    }
    #slide-containerheader{
      touch-action: none;
      min-height: 30px !important;
      display: block !important;
    }
    /* CONTAINERS END */

    /* WELCOME */
    .welcome-container{
      width: 100%;
      padding: 15px;
      margin: 10px;
      transform: translate(0px, -55px);
    }
    .welcome-container .button-container .button-double:last-child{
      padding: 0px;
    }
    #welcome-container .img-container img{
      height: 160px;
      width: 160px;
      border-radius: 5px;
    }
    #welcome-container .img-container{
      justify-content: space-between;
    }
    /* WELCOME END */

    /* CONTROLS */
    .controls-container{
      width: 100%;
      position: fixed;
      left: 0px;
      top: 0px;
      z-index: 0;
    }
    .tab-left{ border-radius: 0; }
    .tab-mid{ border-radius: 0; }
    .tab-right{ border-radius: 0; }
    .tablinks-main{ padding: 0;  }
    /* CONTROLS END */

    /* SIDEBAR CONTENT */
    .campus-info{
      width: calc(100% - 20px);
      padding: 10px;
      /* transition: height 0.5s 0s ease-in-out; */
    }
    #slide-containerheader-top{
      padding: 8px;
      display: flex;
    }
    #slide-containerheader-bottom{
      /* opacity: 0; */
    }
    .campus-content-toggle-container,
    #routes, .poi
    { width: 100%; }
    #routes{
      min-height: 700px; /*TODO: må ha en minheight, ellers får man ikke scrolle nedover og se alle ruter, om mulig bør den settes dynamisk */
    }

    .tab-container button:hover, .tab-container-half button:hover{ background-color: white; }
    .tab-container button:active, .tab-container-half button:active{ background-color: white; }
    /* SIDEBAR CONTENT END */
}

/* MOBILE END */

.help-text{
  margin: 0 0 5px 0;;
}
.help-toggle{
  font-size: 22px;
  background: black;
}
.button-help-margin{
  margin: 0 0 5px 0;
}

#help-box{
  padding: 10px;
}
#back-btn-container{
  cursor: pointer;
}
#back-btn-container button{
  /* background: #0088f6; */
  background: #fff;
  padding: 8px 15px;
  margin: 10px;
  position: absolute;
}

#poi-image-container{
  width: 100%;

}
#poi-img{
  height: 200px;
  width: 100%;
}

.no-height{
  height: 0;
}

#alternativeDeparture{
    margin: 0 5px 0 0;
}
#from-here-btn{
    margin: 0;
    width: 70px;
}

.fakecampus .campus-info-bottom {
  display: block !important;
}
